body{
    color: #f8f4e3;
    background-color: #2a2b2a;
}
.main-content {
    margin-left: 200px; /* Same as the width of the sidenav */
    padding: 0px 10px;
    text-align: center;
  }
/* The navigation menu links */
.sidenav {
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #232423;
    overflow-x: hidden;
    padding-top: 1%;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }