{% load static %}
{% load custom_filters %}
{% include 'navbar.html' %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'Icon.ico' %}" type="image/x-icon">
    <style>
        .hidden {
            display: none;
        }
    </style>
    <title>BWM Solver a6</title>
</head>
<body class="main-content">
    <div>
        <!-- Code for the main solving element -->
        <form method="post" id="bwm-form">
            {% csrf_token %}
            {{ form.num_criteria }}
            <div class="calculator">
                <div id="criteria-labels-container"></div>
                <label for="best-criteria-select">Best Criteria:</label>
                <select id="best-criteria-select" class="bw-select">
                </select>
                <label for="worst-criteria-select">Worst Criteria:</label>
                <select id="worst-criteria-select" class="bw-select">
                </select>
                <div id="compared-values-container">
                    <div id="compared-best-values"></div>
                    <div id="compared-worst-values"></div>
                </div>

                <button type="submit" style="--c" id="calculate-button" class="hidden">Calculate Weights</button>

            </div>
        </form>
    </div> 

    <div id="results-container" style="display:none">
        <h2>Ranking of Weights (High to Low):</h2>
        <ul id="weights-list"></ul>
        <p>Consistency Ratio: <span id="consistency-ratio"></span></p>
    </div>
    <script src="{% static 'js/criteria.js' %}"></script>
    <script src="{% static 'js/dropdown.js' %}"></script>
    <script src="{% static 'js/form_submission.js' %}"></script>
    <script src="{% static 'js/bw_dropdowns.js' %}"></script>
    <script>
        const calculateUrl = "{% url 'calculate' %}";
        initializeFormSubmission(calculateUrl);
        initializeDropdowns(); // Add this line to initialize the dropdowns
    </script>
</body>
</html>

